In [2]:
import pandas as pd
import datetime

In [3]:
airdat = pd.read_csv("data/manual_air_switch.csv")

In [4]:
airdat

         date      time switch_to  who                      comment
0  2021-11-08  17:15:00       air  BEL                          NaN
1  2021-11-08  18:20:00     water  BEL  10 min after underway start
2  2021-11-08  19:56:00       air  BEL                          NaN
3  2021-11-08  20:13:00     water  BEL                          NaN
4  2021-11-08  20:13:00       air  BEL                          NaN
5  2021-11-08  21:49:00     water  BEL                          NaN

In [11]:
pd.to_datetime(airdat['date'] + ' ' + airdat['time'])

0   2021-11-08 17:15:00
1   2021-11-08 18:20:00
2   2021-11-08 19:56:00
3   2021-11-08 20:13:00
4   2021-11-08 20:13:00
5   2021-11-08 21:49:00
dtype: datetime64[ns]

In [17]:
for date in airdat['date']:
    print(datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%m/%d/%y'))

11/08/21
11/08/21
11/08/21
11/08/21
11/08/21
11/08/21

In [5]:
[print(datetime.datetime.strptime(date, '%Y-%m-%d').strftime('%m/%d/%y')) for date in airdat['date']]

11/08/21
11/08/21
11/08/21
11/08/21
11/08/21
11/08/21

[None, None, None, None, None, None]